* {
    padding: 0;
    margin: 0;
}

/* Style the body and set a white background */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Fullscreen loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Image styling */
#loading-screen img {
    width: 20pc;
    height: auto;
}