*{
    margin: 0;
    padding: 0;
    background-color: var(--background-colours);
}

:root{
    --background-colours: #f0f0f0;
    --text-colour: #7b8db8;
}

.headlines{
    min-height: 10vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid black;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 12px;
    position: relative;
}

.nav-links ul li a, .nav-links ul li select{
    text-decoration: none;
    color: var(--text-colour);
    font-size: 20px;
}

.nav-links ul li select{
    border-radius: 25px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

nav{
    display: flex;
    padding: 2% 4%;
    flex-direction: row-reverse;
    align-items: center;
}