/* Universal Section */
* {
    margin: 0;
    padding: 0;
}

:root {
    --background-colours: #f0f0f0;
    --text-colour: rgb(25, 80, 91);
    --hover-colour: rgb(17, 57, 65);
    --input-colour: #0a0a23;
    --input-background: #1b1b32;
    --input-text: white;
}

html {
    scroll-behavior: smooth;
}

/* Main Section */

.headlines {
    min-height: 10vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid black;
    background-color: var(--background-colours);
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 20px;
    position: relative;
}

.nav-links ul li a,
.nav-links ul li select {
    text-decoration: none;
    color: var(--text-colour);
    font-size: 3vh;
    background: none;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--hover-colour);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li select {
    border-style: none;
}


.nav-links ul li select:hover {
    background: transparent;
}

.nav-links {
    flex: 1;
    text-align: right;
}

nav {
    display: flex;
    padding: 2% 4%;
    flex-direction: row-reverse;
    align-items: center;
}

#logo {
    width: 11vh;
    height: 11vh;
    position: absolute;
    margin-left: 5vh;
}

@media only screen and (max-width: 500px) {
    #logo {
        width: 9vh;
        height: 9vh;
        position: absolute;
        right: 80%;
        margin-left: 5vh;
    }
}

.nav-links ul li button {
    border: none;
}

/* Dropdown Select */
.selected {
    display: none;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 12%;
}

.selected ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.selected ul li {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.selected ul li:hover {
    background-color: #f7f7f7;
}

#select-service:hover {
    cursor: pointer;
}

.selected ul li a {
    font-size: 1.2rem;
    color: var(--text-colour);
    text-decoration: none;
    width: 100%;
    display: block;
}

/* Welcome section*/

.main-site {
    min-height: 90vh;
    width: 100%;
    background-image: url("images/stockpeople_bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome h1 {
    padding: 30vh 0 3vh 0;
    font-size: 10.25vh;
    color: var(--text-colour);
}

.welcome p {
    font-size: 3vh;
    color: var(--text-colour);
}

.welcome {
    margin-left: 10vh;
}

@media only screen and (max-width: 700px) {
    .welcome h1 {
        padding: 30vh 0 3vh 0;
        font-size: 7.25vh;
        color: var(--text-colour);
        position: absolute;
        bottom: 50%;
    }

    .welcome p {
        font-size: 3vh;
        color: var(--text-colour);
        position: absolute;
        top: 50%;
    }

    .welcome {
        margin-left: 5vh;
    }
}

/* Review Section */

.review-section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.review-section h1 {
    font-size: 36px;
    font-weight: 600;
}

.review-section p {
    color: var(--text-colour);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* About Us Section */

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: var(--background-colours);
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about-text {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-colour);
}

.about-text p {
    padding-bottom: 10px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media only screen and (max-width: 700px) {
    .about-image {
        display: none;
    }

    .about-text h1 {
        font-size: 40px;
        text-align: center;
    }
}

/* Contact Us */
.contactUs {
    margin: 0;
    padding: 2em;
    text-align: left;
    background-color: var(--input-background);
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.contactInfo legend h2 {
    color: var(--input-text);
    font-size: 30px;
    margin-bottom: 10px;
}

.contactInfo input,
textarea {
    margin: 0.1rem 0;
    width: 80%;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    padding: 1em;
    font-size: 1rem;
    border-radius: 6px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.contactInfo input:focus,
textarea:focus {
    border-color: var(--hover-colour);
    background-color: #333;
    outline: none;
}

.contactInfo input[type="submit"] {
    display: block;
    width: 30%;
    padding: 1.2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.contactInfo input[type="submit"]:hover {
    background-color: #555761;
}

label {
    display: block;
    margin: 0.5rem 0;
    font-weight: 500;
    color: #f5f6f7;
    font-size: 1rem;
}

fieldset {
    border-style: none;
}

@media only screen and (max-width: 700px) {

    .contactInfo input,
    textarea {
        margin: 0.1rem 0;
        width: 80%;
        height: 6px;
        background-color: #0a0a23;
        border: 1px solid #0a0a23;
        color: #ffffff;
        padding: 1em;
        font-size: 1rem;
        border-radius: 6px;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    }

    .contactInfo input[type="submit"] {
        display: block;
        width: 50%;
        margin: 10px 0;
        padding: 1rem;
        font-size: 1.1rem;
        background-color: #3b3b4f;
        border: none;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 6px;
        text-align: center;
        line-height: 0;
    }
}